name: "Limit Tags To Distributable Commits"

on:
  push:
    tags:
      - "**"

jobs:
  validate-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run latest-tag
        uses: EndBug/latest-tag@latest
